# Build artifacts
releases/
wasm-build/
emsdk/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Compiled binaries
*.o
*.a
*.so
*.dylib
*.exe

# IDE
.DS_Store
.vscode/
.idea/

# Confusion build artifacts
confusion-mdl/*.o
confusion-mdl/*.wasm.o
confusion-mdl/mdli.js
confusion-mdl/mdli.wasm
confusion-mdl/mdli.data
confusion-mdl/copying.c
confusion-mdl/mdl_builtins.cpp
confusion-mdl/mdl_builtins.h
confusion-mdl/mdl_builtin_types.cpp
confusion-mdl/mdl_builtin_types.h
